p {
  font-size: 16px;
  color: black;
}
li {
  font-size: 16px;
}
.navbar {
  background-color: white;
  border: none;
}

.navbar-nav li {
  font-size: 18px;
  color: black;   
}
.navbar-nav li a {
  font-size: 18px;
  color: black;   
}
.navbar-inverse .navbar-nav>li>a {
    color: black;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #5c5cd6;
}

.navbar-inverse .navbar-brand {
    color: black;
}
.navbar-inverse .navbar-brand:hover {
    color: #5c5cd6;
}
a {
    color: black;
}
li {
  text-decoration: none;
  display: inline;
  color: black;
 }
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: red;
    background-color: white;
  
  }
#btn1 {
  color: white;
background-color: gray;
  width:95px;
  height: 40px;
  border-collapse: black;
  border-radius: 8px;
  border-color: black;
}
#btn1:hover {
  color: green;
  }
.navbar-toggle {
  border-color: black;
  background-color: black;
}
.navbar-collapse {
  border: none; }

hr {
    
    border-top: 2px solid black;
}
</style>